/mvnw text eol=lf
*.cmd text eol=crlf

# Mark all frontend resources as vendored so GitHub Linguist ignores them
# Ignore specific 3rd-party CSS libraries
src/main/resources/static/css/** linguist-vendored

# login page 3rd-party css
src/main/resources/static/login/css/** linguist-vendored


