<!-- header -->
<header class="header" th:fragment="header(user)" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <!-- 左侧 Logo + 菜单 -->
            <div class="col-7 col-md-9 col-lg-8 col-xl-9">
                <div class="header__content">
                    <!-- 移动端菜单按钮 -->
                    <button class="header__btn" type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <!-- 网站 Logo -->
                    <a th:href="@{/content}" class="header__logo">
                        <img src="/img/logo.svg" alt="">
                    </a>

                    <!-- 顶部导航栏 -->
                    <ul class="header__nav">
                        <li class="header__nav-item">
                            <a th:href="@{/content}" class="header__nav-link">Home</a>
                        </li>

                        <li class="header__nav-item dropdown">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button"
                               id="dropdownMenuProjects" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Friends Recommendation
                            </a>
                            <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuProjects">
                                <li><a th:href="@{/recommend/user/byFriend}">Discover Friends</a></li>
                                <li><a th:href="@{/recommend/user/byShare}">Close Friends</a></li>
                                <li><a th:href="@{/recommend/user/byHobby}">Common Interests</a></li>
                            </ul>
                        </li>

                        <li class="header__nav-item">
                            <a th:href="@{/hobby/getAll}" class="header__nav-link">Interest Hubs</a>
                        </li>

                        <li class="header__nav-item dropdown">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button"
                               id="dropdownMenuCompanies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Discover Feeds
                            </a>
                            <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCompanies">
                                <li><a th:href="@{/share/friend}">Friends' Feed</a></li>
                                <li><a th:href="@{/share/recommend}">Recommend Feed</a></li>
                                <li><a th:href="@{/publisherShare(publisher=${user.account})}">My Feed</a></li>
                                <li><a th:href="@{/share/publish}">Publish Feed</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 右侧用户信息 -->
            <div class="col-5 col-md-3 col-lg-4 col-xl-3">
                <div class="header__content header__content--end">
                    <div class="header__profile">
                        <a class="dropdown-toggle header__profile-btn" href="#" role="button"
                           id="dropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:if="${user.imgUrl} != null" th:src="${user.imgUrl}" alt="User Avatar">
                            <span th:text="${user.nickname}">nickname</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right header__dropdown-menu header__dropdown-menu--right"
                            aria-labelledby="dropdownMenuProfile">
                            <li><a th:href="@{/user/personInfo}"><i class="icon ion-ios-settings"></i> Setting </a></li>
                            <li><a th:href="@{/logout}"><i class="icon ion-ios-exit"></i> Logout </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->