<div th:fragment="shareItem(shares)" xmlns:th="http://www.thymeleaf.org">
    <style>
        .icon.active {
            color: red;
        }
        .post__likes.liked i {
            color: red;
        }
    </style>

    <!-- JS 点赞与取消点赞函数 -->
    <script type="text/javascript" th:inline="javascript">
        function togglePraise(shareId, isPraised) {
            const formData = new FormData();
            formData.append("account", /*[[${user.account}]]*/ "");
            formData.append("shareId", shareId);

            const url = isPraised ? "/praised/unThumbsUp" : "/praised/thumbsUp";

            const xhr = new XMLHttpRequest();
            xhr.open("POST", url);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    const btn = document.getElementById("btn-" + shareId);
                    const icon = document.getElementById("icon-" + shareId);
                    const number = document.getElementById("share-" + shareId);
                    const data = JSON.parse(xhr.response).data;

                    // 更新显示
                    if (isPraised) {
                        // 用户刚刚取消点赞
                        btn.setAttribute("onclick", `togglePraise(${shareId}, false)`);
                        btn.classList.remove("liked");
                        icon.classList.remove("active");
                    } else {
                        // 用户刚刚点赞
                        btn.setAttribute("onclick", `togglePraise(${shareId}, true)`);
                        btn.classList.add("liked");
                        icon.classList.add("active");
                    }

                    number.innerHTML = data;
                } else {
                    alert("Operation failed, please contact the administrator!");
                }
            };
            xhr.send(formData);
        }

    </script>

    <!-- 动态内容展示 -->
    <div class="post" th:each="item : ${shares}">
        <div class="post__head">
            <a th:href="@{/publisherShare(publisher=${item.account})}" class="post__head-img">
                <img th:src="${item.publisherImg}" alt="Img">
            </a>
            <div class="post__head-title">
                <h5><a th:href="@{/publisherShare(publisher=${item.account})}" th:text="${item.publisher}">publisher</a></h5>
                <p th:text="${item.time}">publish Time</p>
            </div>
        </div>

        <div class="post__wrap">
            <div class="post__location">
                <i class="icon ion-ios-navigate"></i>
                <span th:text="${item.address}">address</span>
            </div>
        </div>

        <h2 class="post__title" th:text="${item.title}"> Share Title </h2>

        <div class="post__description">
            <p th:text="${item.content}">Share Content</p>
        </div>

        <div class="post__tags">
            <img th:if="${item.imgUrl != null}" th:src="${item.imgUrl}" alt="" style="max-width: 100%">
        </div>

        <div class="post__stats">
            <div>
                <a th:id="|btn-${item.id}|"
                   th:onclick="|togglePraise(${item.id}, ${item.praisedByCurrentUser})|"
                   th:classappend="${item.praisedByCurrentUser} ? ' liked' : ''">
                    <i th:id="|icon-${item.id}|"
                       class="icon ion-ios-heart"
                       th:classappend="${item.praisedByCurrentUser} ? ' active' : ''"></i>
                    <span th:id="|share-${item.id}|"
                          th:text="${#lists.size(item.praisedUser)}">0</span>
                </a>
            </div>
            <div class="post__views">
                <i class="icon ion-ios-eye"></i>
                <span th:text="${item.relatedHobby}">relatedHobby</span>
            </div>
        </div>
    </div>
</div>
