<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{cssloader::cssloader('社交推荐系统')}"></head>
<body>

<!-- Header -->
<header th:replace="~{component/header::header(${user})}"></header>

<!-- Main Content -->
<main class="main">
	<div class="container">
		<div class="row">
			<!-- 用户信息 -->
			<div th:replace="~{component/userinfo::userinfo(${user})}"></div>

			<!-- 好友动态内容 -->
			<div class="col-12 col-md-7 col-lg-8 col-xl-6">
				<ul class="nav nav-tabs main__nav" id="main__nav" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" role="tab" aria-selected="true">好友动态</a>
					</li>
				</ul>
				<!-- 动态内容 -->
				<div th:replace="~{component/shareItem::shareitem(${shares})}"></div>
			</div>

			<!-- 推荐侧栏 -->
			<div class="col-12 col-md-5 col-lg-4 col-xl-3">

				<!-- 可能认识 -->
				<div class="sidebox sidebox--desk">
					<h4 class="sidebox__title">可能认识</h4>
					<div class="sidebox__content" th:if="${byFriend.size()} > 0">
						<div class="sidebox__user" th:each="item : ${byFriend}">
							<a href="#" class="sidebox__user-img">
								<img th:src="${item.imgUrl}" alt="">
							</a>
							<div class="sidebox__user-title">
								<h5><a href="#" th:text="${item.nickname}">昵称</a></h5>
								<p th:text="${item.account}">账号</p>
							</div>
						</div>
					</div>
					<a th:href="@{/recommend/user/byFriend}" class="sidebox__more" role="button">查看更多</a>
				</div>

				<!-- 最常互动 -->
				<div class="sidebox sidebox--desk">
					<h4 class="sidebox__title">最常互动</h4>
					<div class="sidebox__content" th:if="${byShare.size()} > 0">
						<div class="sidebox__user" th:each="item : ${byShare}">
							<a href="#" class="sidebox__user-img">
								<img th:src="${item.imgUrl}" alt="">
							</a>
							<div class="sidebox__user-title">
								<h5><a href="#" th:text="${item.nickname}">昵称</a></h5>
								<p th:text="${item.account}">账号</p>
							</div>
						</div>
					</div>
					<a th:href="@{/recommend/user/byShare}" class="sidebox__more" role="button">查看更多</a>
				</div>

				<!-- 相同兴趣 -->
				<div class="sidebox sidebox--desk">
					<h4 class="sidebox__title">相同兴趣</h4>
					<div class="sidebox__content" th:if="${byHobby.size()} > 0">
						<div class="sidebox__user" th:each="item : ${byHobby}">
							<a href="#" class="sidebox__user-img">
								<img th:src="${item.imgUrl}" alt="">
							</a>
							<div class="sidebox__user-title">
								<h5><a href="#" th:text="${item.nickname}">昵称</a></h5>
								<p th:text="${item.account}">账号</p>
							</div>
						</div>
					</div>
					<a th:href="@{/recommend/user/byHobby}" class="sidebox__more" role="button">查看更多</a>
				</div>

			</div>
		</div>
	</div>
</main>

<!-- JS 引入 -->
<div th:replace="~{jsloader::jsloader}"></div>

</body>
</html>
