<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>

	<!-- 样式表 -->
	<link rel="stylesheet" href="/login/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/login/css/font-awesome.css" />
</head>

<body>
<section class="w3l-form-36">
	<div class="form-36-main section-gap">
		<div class="wrapper">
			<div class="form-inner-cont">
				<h3>Login System</h3>

				<form action="/login" method="post" class="signIn-form">
					<div class="form-input">
						<span class="fa fa-user-o" aria-hidden="true"></span>
						<label>
							<input type="text" name="account" placeholder="Please enter your account" required />
						</label>
					</div>

					<div class="form-input">
						<span class="fa fa-key" aria-hidden="true"></span>
						<label>
							<input type="password" name="password" placeholder="Please enter your password" required />
						</label>
					</div>

					<div class="login-remember d-grid">
						<button type="submit" class="btn theme-button" style="width: 336px;">Login</button>
					</div>
				</form>

				<!-- 错误提示 -->
				<p th:if="${msg != null}" style="color: red;" th:text="${msg}">Incorrect account number or password</p>

				<!-- 注册链接 -->
				<div>
					<p class="signup">Don't have an account?
						<a href="/register" class="main">Register</a>
					</p>
				</div>
			</div>

			<div class="copy-right">
				<p>&copy; 2025 ISEP VibeLink. All rights reserved.</p>
			</div>
		</div>
	</div>
</section>
</body>
</html>
