<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{cssloader::cssloader(${title})}">
	<title>VibeLink</title>
</head>
<body>

<!-- header -->
<header th:replace="~{component/header::header(${user})}"></header>

<!-- main content -->
<main class="main main--breadcrumb">

	<!-- breadcrumb -->
	<div class="breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="breadcrumb__wrap">
						<li class="breadcrumb__item">
							<a href="#" th:text="${index}">Friends Recommendation</a>
						</li>
						<li class="breadcrumb__item breadcrumb__item--active" th:text="${title}"> title </li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">

			<!-- 用户信息展示 -->
			<div th:replace="~{component/userInfo::userInfo(${user})}"></div>

			<!-- 推荐区域 -->
			<div class="col-12 col-md-7 col-lg-8 col-xl-9">
				<div class="row">

					<!-- 已关注用户 -->
					<div th:if="${hasCategory}" th:replace="~{component/userItem::followItem(${myStar})}"></div>

					<!-- 推荐关注用户 -->
					<div th:replace="~{component/userItem::unfollowItem(${recommends})}"></div>

					<!-- 关注 / 取消关注脚本 -->
					<script type="text/javascript" th:inline="javascript">
						function followIt(buttonId) {
							let account = buttonId.split("-")[1];
							let formData = new FormData();
							formData.append("follower", /*[[${user.account}]]*/ '');
							formData.append("following", account);

							let xhr = new XMLHttpRequest();
							xhr.open("POST", "/follow/followIt");
							xhr.onload = function () {
								if (xhr.status === 200) {
									let response = JSON.parse(xhr.responseText);
									if (response.ok) {
										alert("Follow Success");
										let btn = document.getElementById("btn-" + account);
										btn.className = "post__actions-btn post__actions-btn--blue";
										btn.innerHTML = '<span>UnFollow</span>';
										btn.setAttribute("onclick", "unfollowIt(this.id)");
									} else {
										alert("Failed");
									}
								} else {
									alert("Failed, please contact the admin");
								}
							};
							xhr.send(formData);
						}

						function unfollowIt(buttonId) {
							let account = buttonId.split("-")[1];
							let formData = new FormData();
							formData.append("follower", /*[[${user.account}]]*/ '');
							formData.append("following", account);

							let xhr = new XMLHttpRequest();
							xhr.open("POST", "/follow/unfollow");
							xhr.onload = function () {
								if (xhr.status === 200) {
									let response = JSON.parse(xhr.responseText);
									if (response.ok) {
										alert("UnFollow Success");
										let btn = document.getElementById("btn-" + account);
										btn.className = "post__actions-btn post__actions-btn--blue";
										btn.innerHTML = '<span>Follow</span>';
										btn.setAttribute("onclick", "followIt(this.id)");
									} else {
										alert("Failed ");
									}
								} else {
									alert("Failed, please contact the admin");
								}
							};
							xhr.send(formData);
						}
					</script>

				</div>
			</div>

		</div>
	</div>
</main>

<!-- js 资源 -->
<div th:replace="~{jsloader::jsloader}"></div>

</body>
</html>
